@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* pagina inicial */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, sans-serif;
}

body{
overflow: auto;
background-image: url("/arquivos/img-fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 2600px;
height: 0;
width: 0;
}

.container{
width: 100%;
min-height: 100vh;
text-decoration: none;
}

nav{
position: fixed;
display: flex;
cursor: pointer;
justify-content: space-around;
width: 100%;
height: 80px;
line-height: 80px;
top: 0;
}

.logo{
display: flex;
font-size: 40px;
font-weight: 800;
color: white;
letter-spacing: 3px;
text-transform: uppercase;
}

b{
font-size: 70px;
color: #6b3fa0;
}

.navItems{
display: flex;
}

.navItems li{
list-style: none;
margin: 0 40px;
}

.navItems li a{
font-size: 15px;
color: white;
letter-spacing: 3px;
text-decoration: none;
}

.navItems li:hover a{
color: #039d91;
}

.links a{
font-size: 20px;
color: #6b3fa0;
width: 100%;
position: center;
left: 150px;
margin: 10px 10px;
}

.button-container {
text-align: center;
}

.centered-button {
text-decoration: none !important;
display: flex;
border: none;
border-radius: 8px;
cursor: pointer;
position: absolute;
top: 50%;
left: 12%;
transform: translate(-50%, -50%);
padding: 8px 16px;
margin: 40px 5px;
font-size: 15px;
background-color: #6b3fa0;
color: white;
}

.centered-button:hover {
background-color: #9862D8;
}

#button-footer{
position: absolute;
top: 92%;
left: 14%;
transform: translate(-50%, -50%);
background-color: #6b3fa0;
}

#button-footer:hover{
background-color: #9862D8;
}

.texto{
color: white;
position: absolute;
top: 40%;
left: 14%;
padding: 18px 14px;
transform: translate(-20%, -20%);
}

.texto-maior{
font-size: 40px;
}

.texto-menor{
position: absolute;
top: 85%;
left: 4%;
font-size: 16px;
}

/* animação da forma geométrica */

.geometric {
position: absolute;
top: 150px;
left: -70px;
transform: translate(-50%, -50%);
width: 800px;
height: 400px;
opacity: 0.2;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-20deg);
-moz-transform: skew(-20deg);
-o-transform: skew(-20deg);
background: #039d91;
animation: go-back 0.8s;
}

@keyframes go-back {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

/* box cinza com certificados */

.titulo-cert{
position: absolute;
color: #6b3fa0;
top: 105%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
}

.box{
margin: 0 auto;
position: absolute;
top: 130%;
left: 50%;
transform: translate(-50%, -50%);
width: 1300px;
height: 600px;
opacity: 0.3;
}

#glass-box{
background: rgba( 255, 255, 255, 255);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 165, 0.57 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.icones{
display: flex;
position: absolute;
top: 155%;
left: 38%;
transform: translate(-50%, -50%);
font-size: 45px;
width: 10%;
position: center;
}

#java{
color: #ff0000;
padding: 50px;
}

#py{
color: #003366;
padding: 50px;
}

#html{
color: #ed6b21;
padding: 50px;
}

#js{
color: #eead2d;
padding: 50px;
}

.certificados{
margin: 0 auto;
position: absolute;
transform: translate(-50%, -50%);
width: 200px;
height: 90px;
}

#c-01{
top: 122%;
left: 20%;
}


#c-02{
top: 122%;
left: 35%;
}

#c-03{
top: 122%;
left: 50%;
}

#c-04{
top: 122%;
left: 65%;
}

#c-05{
top: 122%;
left: 80%;
}

/* linha do tempo */

h1{
color: #039d91;
position: absolute;
top: 180%;
left: 50%;
transform: translate(-50%, -50%);
}

.linha-reta{
position: absolute;
top: 265%;
left: 50%;
transform: translate(-50%, -50%);
border-left: 3px solid #039d91;
height: 1100px;
}

.timeline {
position: absolute;
top: 205%;
left: 40%;
transform: translate(-50%, -50%);
border-radius: 10px;
background-color: #039d91;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
padding: 20px 20px;
}

.timeline ul li {
display: flex;
align-items: center;
margin-bottom: 70px;
list-style-type: none;
}

#t00 {
top: 230%;
left: 61.7%;

}

#t01 {
padding: 20px 50px;
top: 262%;
left: 61.8%;
}

#t02 {
padding: 20px 45px;
top: 293%;
left: 62.2%;
}

#t03 {
padding: 30px 20px;
top: 325%;
left: 39.3%;
}

.experiencia{
margin: 0 40px;
font-size: 14px;
}

#e03 {
margin: 0px 40px;
}

.descricao{
position: absolute;
white-space: nowrap;
top: 60%;
left: 30%;
transform: translate(-50%, -50%);
margin: 0 40px;
font-size: 12px;
}

#d {
left: 32.5%;
text-align: center;
}

#d00 {
left: 35%;
text-align: center;
}

#d01 {
left: 35%;
text-align: center;
}

#d02 {
left: 35%;
text-align: center;
}

#d03 {
top: 63%;
left: 34%;
text-align: center;
}

.descricao-tl{
color: white;
}

.ano{
position: absolute;
white-space: nowrap;
color: #039d91;
top: 50%;
left: 165%;
transform: translate(-50%, -50%);
}

#a00{
top: 50%;
left: 0.5%;
transform: translate(-180%, -50%);
}

#a01{
top: 50%;
left: 0.5%;
transform: translate(-180%, -50%);
}

#a02{
top: 50%;
left: 0.5%;
transform: translate(-180%, -50%);
}

#a03{
top: 50%;
left: 165%;
transform: translate(-50%, -50%);
}

.circulo {
background: #039d91;
position: absolute;
top: 40%;
left: 116%;
border-radius: 50%;
width: 20px;
height: 20px;
}

#c00{
top: 40%;
left: 0.5%;
transform: translate(-280%, -0%);
}

#c01{
top: 40%;
left: 0.5%;
transform: translate(-280%, -0%);
}

#c02{
top: 40%;
left: -2%;
transform: translate(-285%, -0%);
}

.formulario{
position: absolute;
top: 400%;
left: 50%;
transform: translate(-50%, -50%);
}

.palavras{
color: #6b3fa0;
}

/* footer para contato */

.box-contato{
margin: 0 auto;
position: absolute;
top: 400%;
left: 50%;
transform: translate(-50%, -50%);
width: 1519px;
height: 600px;
opacity: 0.3
}

#contato{
background: rgba( 255, 255, 255, 255);
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#titulo-footer{
position: relative;
top: 0px;
left: 138px;
transform: translate(-50%, -50%);
}

#name {
top: 16px;
left: 114px;
transform: translate(-50%, -50%);
border-radius: 12px;
padding: 12px;
border: 1px solid #ccc;
position: relative;
}

#email {
top: 18px;
left: 118px;
transform: translate(-50%, -50%);
border-radius: 12px;
padding: 12px;
border: 1px solid #ccc;
position: relative;
}

#conteudo {
border-radius: 10px;
padding: 10px;
border: 1px solid #ccc;
position: relative;
}

.box-c {
position: relative;
}

.box-c::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 1%;
height: 50%;
background-color: black;
border-radius: 10px;
z-index: -1;
}

