@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* pagina inicial */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, sans-serif;
}

body{
overflow: auto;
background-image: url("/arquivos/img-fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 1000px;
height: 0;
width: 0;
}

.container{
width: 100%;
min-height: 100vh;
text-decoration: none;
}

nav{
position: fixed;
display: flex;
cursor: pointer;
justify-content: space-around;
width: 100%;
height: 80px;
line-height: 80px;
top: 0;
}

.logo{
display: flex;
font-size: 40px;
font-weight: 800;
color: white;
letter-spacing: 3px;
text-transform: uppercase;
}

b{
font-size: 70px;
color: #6b3fa0;
}

.navItems{
display: flex;
}

.navItems li{
list-style: none;
margin: 0 40px;
}

.navItems li a{
font-size: 15px;
color: white;
letter-spacing: 3px;
text-decoration: none;
}

.navItems li:hover a{
color: #039d91;
}

.links a{
font-size: 20px;
color: #6b3fa0;
width: 100%;
position: center;
left: 150px;
margin: 10px 10px;
}

/* sessão com box de projetos */

.box{
margin: 0 auto;
position: absolute;
top: 55%;
transform: translate(-50%, -50%);
width: 400px;
height: 500px;
opacity: 0.3
}

#glass-box{
left: 20%;
background: rgba( 255, 255, 255, 255);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 165, 0.57 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#glass-box2{
left: 50%;
background: rgba( 255, 255, 255, 255);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 165, 0.57 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#glass-box3{
left: 80%;
background: rgba( 255, 255, 255, 255);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 165, 0.57 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}