@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, sans-serif;
}

body{
overflow: auto;
background-image: url("/arquivos/teste.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 2600px;
height: 0;
width: 0;
}