@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

/* pagina inicial */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, sans-serif;
}

body{
overflow: auto;
background-image: url("/arquivos/img-fundo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin-top: 800px;
height: 0;
width: 0;
}

.container{
width: 100%;
min-height: 100vh;
text-decoration: none;
}

nav{
display: flex;
cursor: pointer;
justify-content: space-around;
position: fixed;
width: 100%;
height: 80px;
line-height: 80px;
top: 0;
}

.logo{
display: flex;
font-size: 40px;
font-weight: 800;
color: white;
letter-spacing: 3px;
text-transform: uppercase;
}

b{
font-size: 70px;
color: #6b3fa0;
}

.navItems{
display: flex;
}

.navItems li{
list-style: none;
margin: 0 40px;
}

.navItems li a{
font-size: 15px;
color: white;
letter-spacing: 3px;
text-decoration: none;
}

.navItems li:hover a{
color: #483d8b;
}

.links a{
font-size: 20px;
color: #6b3fa0;
width: 100%;
position: center;
left: 150px;
margin: 10px 10px;
}

/* botão de jogar */

.button-container {
text-align: center;
}

.centered-button {
text-decoration: none !important;
display: flex;
border: none;
border-radius: 8px;
cursor: pointer;
position: relative;
left: 270px;
transform: translate(-190%, 32%);
padding: 8px 16px;
margin: 40px 5px;
font-size: 15px;
background-color: #6b3fa0;
color: white;
}

.centered-button:hover {
background-color: #9862D8;
}

/* legenda do jogo em cores */

.circulo {
position: fixed;
border-radius: 50%;
width: 20px;
height: 20px;
font-size: 10px;
}

#c-01{
background: green;
top: 260px;
transform: translate(-290%, -470%);
}

#c-02 {
background: yellow;
top: 260px;
transform: translate(-290%, -300%);
}

#c-03 {
background: grey;
top: 260px;
transform: translate(-290%, -130%);
}

/* legenda do jogo em texto */

.palavras{
color: #6b3fa0;
transform: translate(-0%, -90%);
}

h3{
position: fixed;
white-space: nowrap;
}

#c{
position: absolute;
top: 50%;
left: 550%;
transform: translate(-38%, -50%);
}

#a{
position: absolute;
top: 50%;
left: 700%;
transform: translate(-50%, -50%);
}

#w{
position: absolute;
top: 50%;
left: 400%;
transform: translate(-50%, -50%);
}

/* comando do jogo */

#i{
position: fixed;
top: -200px;
left: -350px;
transform: translate(70%, -50%);
}

/* sessão do jogo */

.box-jogo{
margin: 0 auto;
position: absolute;
transform: translate(-40%, -45%);
width: 800px;
height: 520px;
opacity: 0.7;
}

#glass-box{
left: 20%;
background: #889F2A;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 165, 0.57 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 15px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

article{
position: fixed;
top: 50%;
left: 46%;
transform: translate(-50%, -50%);
}

.box-c {
position: fixed;
top: -160px;
transform: translate(-50%, -50%);
border-radius: 12px;
border: 1px solid #ccc;
width: 50px;
height: 50px;
padding: 10px;
box-sizing: border-box;
}

.box-c::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.7);
border-radius: 10px;
z-index: -1;
}

#number {
left: -50px;
}

#number-01 {
left: 0px;
}

#number-02 {
left: 50px;
}

#number-03 {
left: 100px;
}

.jogo{
position: fixed;
top: -230px;
}


.group{
 white-space: nowrap;
position: absolute;
top: 350px;
left: 50px;
transform: translate(-50%, -50%);
text-align: center;
color: grey;
font-size: 10px;
}